---
layout: default
title: Passwort Deutsch
---
<h1>Passwort Deutsch</h1>
<p>Passwort Deutsch (《走遍德国》) 是专为德语非母语（Deutsch als Fremdsprache）的学习者编写的一套德语强化教材。</p>
<p>注：以下内容均整理自 <a href="http://class.hujiang.com/">沪江网校德语课程</a>。</p>
<hr />

{% assign passwortDeutsch = "Passwort Deutsch" %}
{% assign singleSpace = " " %}
{% assign lektion = "Lektion" %}
{% assign levels = "A1|A2|B1" | split: "|" %}
{% assign currentLevel = "B1" %}
{% assign nextLesson = 27 %}

{% for level in levels %}
    <h2>{{ level }}</h2>
    {% assign levelIndex = forloop.index | minus: 1 %}
    <div class="panel-group" id="{{ level }}">
        {% for i in (1..10) %}
            {% assign temp = levelIndex | times: 10 | %}
            {% assign lessonIndex = temp | plus: i %}

            {% if level == currentLevel and lessonIndex == nextLesson %}
                {% break %}
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {% assign panelId = level | append: "-" | append: lektion | append: "-" | append: lessonIndex %}
                        <a data-toggle="collapse" data-toggle="collapse" data-parent="#{{ level }}" href="#{{ panelId }}">{{ lektion }}{{ singleSpace }}{{ lessonIndex }}</a>
                    </h4>
                </div>
                <div id="{{ panelId }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="lesson-list">
                            {% assign tag = passwortDeutsch | append: singleSpace | append: level | append: singleSpace | append: lektion | append: singleSpace | append: lessonIndex] %}
                            {% for post in site.tags[tag] reversed %}
                                <li><a title="{{ post.excerpt }}" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
