---
layout: default
title: Passwort Deutsch
---
<h1>Passwort Deutsch</h1>
<p>Passwort Deutsch (《走遍德国》) 是专为德语非母语（Deutsch als Fremdsprache）的学习者编写的一套德语强化教材。</p>
<p>注：以下内容均整理自<a href="http://class.hujiang.com/">沪江网校德语课程</a></p>
<hr />

{% assign passwortDeutsch = "Passwort Deutsch" %}
{% assign singleSpace = " " %}
{% assign levels = "A1" | split: "|" %}
{% assign lessons = "Lektion 1|Lektion 2|Lektion 3|Lektion 4|Lektion 5|Lektion 6|Lektion 7|Lektion 8|Lektion 9|Lektion 10" | split: "|" %}

{% for level in levels %}
<h2>{{ level }}</h2>
<div class="panel-group" id="{{ level }}">
    {% for lesson in lessons %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#{{ level }}" href="#{{ level | append: "-" | append: lesson | replace: " ", "-" }}">{{ lesson }}</a>
            </h4>
        </div>
        <div id="{{ level | append: "-" | append: lesson | replace: " ", "-" }}" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="lesson-list">
                    {% assign name = passwortDeutsch | append: singleSpace | append: level | append: singleSpace | append: lesson] %}
                    {% for post in site.tags[name] reversed %}
                        <li><a title="{{ post.excerpt }}" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
